*{
    margin: 0;
}
body{
    font-family: "roboto" , sans-serif;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    top: 0;
    position: absolute;
}
.navbar-container{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
}
.logo-container{
flex : 1;
}
.logo{
border-radius: 5px;
color: green;
height: 50px ;
width: 100%;
}
.menu-container{
    flex :6;
border-radius: 5px;

}
.menu_list{
    display: flex;
    list-style: none;
}
.menulist_item{
margin-right: 30px;
}
.menulist_item.active{
    font-weight: bold;
}
.profile-container{
flex :2;
display: flex;
align-items: center;
justify-content: end;
}
.profile_text_container{
    margin: 0 20px;
}
.Profile_picture{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.toggle{
    background-color: white;
    width: 40px;
    height: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.toggle_icon{
    color: darkblue;
}
.toggle_ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
}
.sidebar{
    width: 50px ;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.left_menu_icon{
    color: white;
    font-size: 20px;
    margin-bottom: 80px;

}

.container{
    background-color: #151515;
    color: white;
    min-height: calc(100vh - 50px);
    
}
.content_container{
    margin-left: 50px;
    
}
.feature_content{
    height: 50vh;
    padding: 50px;
}
.new_release{
height: 200px;
border-radius: 20px;
border: thin solid white;
}

.about_content{
    width: 200px;
    font-size: 15px;
}
.new_release_button{
        color:rgb(139, 118, 118);
        background-color: aqua;
        border-radius: 5px;
        padding: 10px, 10px, 10px, 10px;
        margin-top: 10px;
}
.movie_list_container{
    padding: 20px;
}
.movie_list{
    display: flex;
    height: 300px;
}
.movie_list_title{
    height: 100px;
    width: 200px;
    margin: 50px;
}
.movie_list{
    display: flex;
    align-items: center;;
    height: 200px;
}
.movie_list_items{
    margin-right: 30px;
}
.movie_list_items:hover .movie_list_items_image{
    transform: scale(1.2);
    margin: 0, 30px;
}   
.movie_list_items_image{
    height: 200px;
    width: 210px;
    object-fit: cover;
    transition: all 0.25s ease-in-out;
    
}
.movie_list_items1_title{
    background-color: rgb(164, 140, 140);
    color: black;
    padding: 0, 10px;
    font-size: 20px;
    font-weight:bold;
}

.movie_list_items1_button{
    color:rgb(139, 118, 118);
        background-color: aqua;
        border-radius: 5px;
        padding: 10px, 10px, 10px, 10px;
}
